.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
data/GSE46903_Affymetrix_metadata.txt.gz
data/GSE46903_Affymetrix_Reanalyzed_data.txt.gz
data/GSE46903_non-normalized.txt.gz
data/GSE46903_RAW.tar
output/processed_lumi_46903.txt
data/GSE46903_non-normalized.txt
data/GSE46903_nonnormalized copy.tsv
data/gse_46903.rds
output/processed_lumi_46903.tsv
output/processed_lumi_46903.Rds
output/processed_lumi_exprs.txt
*.rds
output/dge_frame.csv
*.counts
*.csv
data/160genes_ensembl.gencode28.txt
data/gencode.v22.primary_assembly.annotation.gtf.geneinfo
data/kyle.gdc_tcga_bam_metadata.txt
